<?xml version="1.0" encoding="UTF-8"?>
<suite name="BLR_Analytics" verbose="10" parallel="tests">

	<test name="NewIssue" group-by-instances="true" verbose="3">
    		<classes>
				<class name="tests.NewIssueTest" />
		    </classes>
	</test>

	<test name="Search in Jira" group-by-instances="true" verbose="3">
		<classes>
			<class name="tests.SearchJira"/>
		</classes>
	</test>
</suite>