<?xml version="1.0" encoding="UTF-8"?>
<suite name="BLR_Analytics" verbose="10" parallel="tests">

	<test name="API and UI tests" group-by-instances="true" verbose="3">

		<groups>
			<run>
				<include name="API"/>
				<include name="UI"/>
			</run>
		</groups>

		<classes>
			<class name="tests.api.ApiNegative"/>
			<class name="tests.api.API"/>
			<class name="tests.ui.LoginTest"/>
			<class name="tests.ui.NewIssueTest"/>
			<class name="tests.ui.SearchJira"/>
		</classes>
	</test>

</suite>