<?xml version="1.0" encoding="UTF-8"?>
<suite name="BLR_Analytics" verbose="10" parallel="tests">

	<test name="API and UI tests" group-by-instances="true" verbose="3">

		<groups>
			<run>
				<include name="API"/>
				<include name="UI"/>
			</run>
		</groups>

		<classes>
			<class name="api.LoginTest"/>
			<class name="api.IssueTest"/>
			<class name="ui.LoginTest"/>
			<class name="ui.NewIssueTest"/>
			<class name="ui.SearchJiraTest"/>
		</classes>
	</test>

</suite>